# Compiled files
*.tfstate
*.tfstate.local
*.tfstate.backup
*.tfstate.lock.info

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ruby
.bundle
.sass-cache
Gemfile.local
Gemfile.lock
checksums.json
pkg/
vendor/
